<!DOCTYPE html>
<html>
    <%- include('header') -%>
    <body>
        <div class="grid grid-cols-[20%_80%] h-screen max-sm:grid-cols-1">
            <div class="p-5 relative border-r border-r-slate-700/10  bg-slate-500/20 max-sm:hidden">
                <h1 class="text-xl font-semibold text-slate-900 text-center font-dosis">Gestion Eleve</h1>
                <div class="flex flex-col gap-5 mt-[32px]">
                    <a class="bg-slate-700/80 text-slate-50 rounded-full px-4 py-2 flex items-center gap-2 text-[14px]" href="/enseignant">
                        <svg width="64px" height="64px" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" fill="#fefefe" stroke="#fefefe" class="w-[20px] h-[20px] max-sm:w-[20px] max-sm:h-[20px]"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <title>plus-circle</title> <desc>Created with Sketch Beta.</desc> <defs> </defs> <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage"> <g id="Icon-Set" sketch:type="MSLayerGroup" transform="translate(-464.000000, -1087.000000)" fill="#fefefe"> <path d="M480,1117 C472.268,1117 466,1110.73 466,1103 C466,1095.27 472.268,1089 480,1089 C487.732,1089 494,1095.27 494,1103 C494,1110.73 487.732,1117 480,1117 L480,1117 Z M480,1087 C471.163,1087 464,1094.16 464,1103 C464,1111.84 471.163,1119 480,1119 C488.837,1119 496,1111.84 496,1103 C496,1094.16 488.837,1087 480,1087 L480,1087 Z M486,1102 L481,1102 L481,1097 C481,1096.45 480.553,1096 480,1096 C479.447,1096 479,1096.45 479,1097 L479,1102 L474,1102 C473.447,1102 473,1102.45 473,1103 C473,1103.55 473.447,1104 474,1104 L479,1104 L479,1109 C479,1109.55 479.447,1110 480,1110 C480.553,1110 481,1109.55 481,1109 L481,1104 L486,1104 C486.553,1104 487,1103.55 487,1103 C487,1102.45 486.553,1102 486,1102 L486,1102 Z" id="plus-circle" sketch:type="MSShapeGroup"> </path> </g> </g> </g></svg>
                        <span class="max-sm:hidden">Ajouter un élève</span>
                    </a>
                    <a href="/" class="text-slate-7000 text-[16px] py-1 rounded-lg flex items-center gap-2 px-4">
                        <svg width="64px" height="64px" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="" class="stroke-slate-700 w-[20px] h-[20px]"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M1 6V15H6V11C6 9.89543 6.89543 9 8 9C9.10457 9 10 9.89543 10 11V15H15V6L8 0L1 6Z" fill=""></path> </g></svg>
                        <span class="max-sm:hidden">Dashboard</span>
                    </a>
                    <!-- <div class="text-slate-50 bg-slate-700  text-[16px] py-1 rounded-lg flex items-center gap-2 px-4">
                        <div>
                            <a href="/eleves" > <i class="fa-light fa-school"></i>Gerer les eleves</a>
                        </div>
                    </div> -->
                    <a href="/eleves" class="text-slate-50 bg-slate-700  text-[16px] py-1 rounded-lg flex items-center gap-2 px-4"> 
                        <i class="fa-solid fa-users"></i>
                        Gerer les eleves
                    </a>
                    
                    <a class="text-red-50 bg-red-700/50 absolute  bottom-5 px-5 py-2 w-[85%] items-center rounded-lg flex justify-center">Deconnection</a>

                </div>
            </div>
            <div class=" px-[32px] py-[32px] flex flex-col gap-[24px] h-screen overflow-y-scroll scrol relative z-40">
                 <!-- create user poopop -->
                <div class="absolute w-full h-full top-0 bottom-0 left-0 right-0 bg-slate-700/40 hidden flex items-center justify-center z-40" id="addSignleStudent">
                    <form class="w-[600px] grid grid-cols-2 max-sm:grid-cols-1 max-sm:w-[300px] bg-slate-50 p-5 rounded-md h-[400px] relative gap-5" id="addStudentForm" method="post">
                        <button class="text-slate-700 hover:text-red-700 text-[32px] absolute -right-1 -top-3 cursor-pointer transition durantion-300" type="button" onclick="removSingleEleve()"><i class="fa-solid fa-circle-xmark transition durantion-300"></i></button>
                        <div class="flex justify-center flex-col bg-slate-200 items-center z-50">
                            <p class="text-slate-700 text-[21px]"></p>
                            <!-- <img src="/kkkt.png" alt="" class="w-[150px] h-[150px] rounded-lg object-cover"> -->
                             
                            <label class="text-slate-700/50 mt-5 cursor-pointer" for="uploadStudentProfil">Click pour uploader une photo</label>
                            <!-- <input type="file" name="studentProfil" id="studentProfil" class="hidden"> -->
                            <!-- hidden formData -->
                             <input type="text" class="hidden" name="studentClasse" value="<%=teacher.teacherClasse%>">
                             <input type="text" class="hidden" name="studentClasseIdentnifiant" value="<%=teacher.teacherClasseIdentifiant%>">
                             <input type="text" class="hidden" name="teacherId" value="<%=teacher._id%>">
                            <!-- <h1 class="text-slate-700 text-[14px] mt-5">Jeremie KIMPIOKA TANDU</h1> -->
                        </div>
                        <div class="grid overflow-y-scroll overflow-x-hidden scrol">
                            <h1 class="text-xl mb-4">Créer un nouveau élève</h1>
                            <div class="grid gap-2" id="createEleveContainer">
                                <div class="border border-slate-700 h-[50px] rounded-md py-1 px-3 flex flex-col">
                                    <small>Nom</small>
                                    <!-- <label class="text-slate-700">Jeremie KIMPIOKA</label> -->
                                    <input type="text" class="text-slate-700 focus:border-0 focus:outline-0 placeholder:text-slate-700 text-[14px]" placeholder="Nom de l'élève" name="studentName" required>
                                </div>
                                <div class="border border-slate-700 h-[50px] rounded-md py-1 px-3 flex flex-col">
                                    <small>Postnom</small>
                                    <!-- <label class="text-slate-700">Jeremie KIMPIOKA</label> -->
                                    <input type="text" class="text-slate-700 focus:border-0 focus:outline-0 placeholder:text-slate-700 text-[14px]" placeholder="Postnom de l'élève" name="studentPostname" required>
                                </div>
                                <div class="border border-slate-700 h-[50px] rounded-md py-1 px-3 flex flex-col">
                                    <small>Prenom</small>
                                    <!-- <label class="text-slate-700">Jeremie KIMPIOKA</label> -->
                                    <input type="text" class="text-slate-700 focus:border-0 focus:outline-0 placeholder:text-slate-700 text-[14px]" placeholder="Prenom de l'élève" name="studentLastname" required>
                                </div>
                                <div class="border border-slate-700 h-[50px] rounded-md py-1 px-3 flex flex-col">
                                    <small>Age</small>
                                    <!-- <label class="text-slate-700">Jeremie KIMPIOKA</label> -->
                                    <input type="number" class="text-slate-700 focus:border-0 focus:outline-0 placeholder:text-slate-700 text-[14px]" placeholder="Age de l'élève" name="studentBirthDay" required>
                                </div>
                                <div class="border border-slate-700 h-[50px] rounded-md py-1 px-3 flex flex-col">
                                    <small>Nom du parent</small>
                                    <!-- <label class="text-slate-700">Jeremie KIMPIOKA</label> -->
                                    <input type="text" class="text-slate-700 focus:border-0 focus:outline-0 placeholder:text-slate-700 text-[14px]" placeholder="Nom du parent" name="studentParent" required>
                                </div>
                                <div class="border border-slate-700 h-[50px] rounded-md py-1 px-3 flex flex-col">
                                    <small>Email</small>
                                    <!-- <label class="text-slate-700">Jeremie KIMPIOKA</label> -->
                                    <input type="email" class="text-slate-700 focus:border-0 focus:outline-0 placeholder:text-slate-700 text-[14px]" placeholder="Email du titutaire" name="studentEmail" required>
                                </div>
                                <div class="border border-slate-700 h-[50px] rounded-md py-1 px-3 flex flex-col">
                                    <small>Téléphone</small>
                                    <!-- <label class="text-slate-700">Jeremie KIMPIOKA</label> -->
                                    <input type="tel" class="text-slate-700 focus:border-0 focus:outline-0 placeholder:text-slate-700 text-[14px]" placeholder="Portable du titutaire" name="studentPhone" required>
                                </div>
                            </div>
                            <div class="mt-5 flex justify-between">
                                <button class="bg-slate-700 px-3 py-1 flex items-center justify-center rounded-md cursor-pointer hover:bg-slate-900 transition duration-300 text-blue-50 h-fit" type="submit">Modifier</button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- student succeed recorded -->
                <div class="absolute w-full h-full top-0 bottom-0 left-0 right-0 bg-slate-700/40 hidden flex items-center justify-center z-50" id="successTeacher">
                    <div class="w-[300px] bg-slate-50 p-5 rounded-md h-[400px] overflow-y-scroll overflow-x-hidden scrol relative flex items-center justify-center flex-col" id="successTeacherCont">
                        
                    </div>
                </div>
                 <!-- =================mobile -->
                <div class="hidden max-sm:flex items-center justify-between">
                    <h1 class="font-dosis font-semibold text-slate-700 text-[21px]">Gestion eleves</h1>
                    <div class="flex items-center gap-2 max-sm:hidden">
                        <div class="w-[30px] h-[30px] bg-slate-700 text-[11px] rounded-full flex text-slate-50 items-center justify-center">
                            <% 
                                const nameParts = user.userName ? user.userName.trim().split(' ') : [];
                                const initials = nameParts.slice(0, 3).map(n => n[0]?.toUpperCase() || '').join('');
                            %>
                            <%= initials %>
                        </div>
                        <div class="text-slate-700 relative">
                            <small class="absolute -top-3 -right-1">0</small>
                            <i class="fa-solid fa-bell"></i>
                        </div>
                    </div>
                </div>
                <!-- desktop nav -->
                <div class="flex justify-between">
                    <div class="bg-slate-700/10 p-2 rounded-md w-[300px] text-slate-700 flex items-center justify-between">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <input type="search" name="recherche" id="recherche" placeholder="Tapez le mot à recherche" class="placeholder:text-slate-700 focus:border-0 focus:outline-0">
                        <div class="w-[50px] h-[30px] bg-slate-700 flex items-center justify-center rounded-lg">
                            <p class="text-[11px] text-slate-50"> Cmd+r </p>
                        </div>
                    </div>
                    <div class="flex items-center gap-2 max-sm:hidden">
                        <div class="w-[30px] h-[30px] bg-slate-700 text-[11px] rounded-full flex text-slate-50 items-center justify-center">
                            <%= initials %>
                        </div>
                        <div class="text-slate-700 relative">
                            <small class="absolute -top-3 -right-1">0</small>
                            <i class="fa-solid fa-bell"></i>
                        </div>
                    </div>
                </div>
                <!-- action -->
                 <div>
                    <div class="flex gap-3">
                        <div class="text-green-800 bg-green-700/20 w-fit gap-2 flex items-center p-2 rounded-md relative cursor-pointer overflow-hidden" onclick="openAddStudent()">
                            <span class="w-[30px] h-[30px] flex items-center justify-center bg-green-50 rounded-full"><i class="fa-solid fa-plus"></i></span>
                            <p class="font-dosis">Ajouter un nouveau élèves</p>
                            <div class="bg-green-700 absolute w-[30px] h-[30px] flex -top-5 -right-3 rounded-full"></div>
                            <div class="bg-green-700 absolute w-[30px] h-[30px] flex -bottom-5 -left-3 rounded-full"></div>
                        </div>
                        <a class="text-yellow-800 bg-yellow-700/20 w-fit gap-2 flex items-center p-2 rounded-md relative cursor-pointer overflow-hidden" onclick="" href="/eleves/list">
                            <span class="w-[30px] h-[30px] flex items-center justify-center bg-green-50 rounded-full"><i class="fa-solid fa-users"></i></span>
                            <p class="font-dosis">Listes élèves</p>
                            <div class="bg-yellow-700 absolute w-[30px] h-[30px] flex -top-5 -right-3 rounded-full"></div>
                            <div class="bg-yellow-700 absolute w-[30px] h-[30px] flex -bottom-5 -left-3 rounded-full"></div>
                        </a>
                    </div>
                    <div class="mt-5">
                        <div class="flex justify-between items-center">
                            <h1 class="mb-5">Liste journalier des eleves present au cour</h1>
                            <div class="border border-slate-700/50 rounded-full w-[200px] h-[30px] text-[12px] placeholder:text-[14px] flex items-center">
                                <input type="search" name="dailyStudent" id="dailyStudent" placeholder="rechercher un eleve" class="pl-2 focus:outline-0 focus:border-0">
                            </div>
                        </div>
                        <% if(presence.lenght>0){%>
                            <div class="grid grid-cols-4 md-grid-cols-2 max-sm:grid-cols-1 gap-3">
                            <% for (let i = 0; i < presence.length; i++) { 
                                const user = presence[i]; 
                            %>
                                <div class="border border-dashed border-slate-700 w-fit rounded-lg overflow-hidden">
                                    <div class="w-full h-[150px] object-cover text-[120px] flex items-center text-slate-700 justify-center">
                                    <i class="fa-solid fa-image"></i>
                                    </div>
                                    <div class="p-2">
                                    <h2 class="font-semibold text-slate-700">
                                        <%= user.studentName %>
                                    </h2>
                                    <div class="flex justify-between items-center">
                                        <p class="text-[12px] text-slate-700/60">
                                        Dernier presence en ligne <%= user.heure %>
                                        </p>
                                        <div class="w-[10px] h-[10px] bg-red-700 rounded-full animate-pulse"></div>
                                    </div>
                                    <p class="text-[12px] text-slate-700/90">
                                        Fin presence en cours: 12h30min
                                    </p>
                                    </div>
                                    <!-- action -->
                                    <div class="p-2 bg-slate-700 rounded-lg flex gap-5 justify-between">
                                    <div class="text-slate-50 flex flex-col text-[16px] items-center w-fit cursor-pointer">
                                        <i class="fa-regular fa-message"></i>
                                    </div>
                                    <div class="text-slate-50 flex flex-col text-[16px] items-center w-fit cursor-pointer">
                                        <i class="fa-regular fa-note-sticky"></i>
                                    </div>
                                    <div class="text-slate-50 flex flex-col text-[16px] items-center w-fit cursor-pointer">
                                        <i class="fa-solid fa-phone"></i>
                                    </div>
                                    <div class="text-slate-50 flex flex-col text-[16px] items-center w-fit cursor-pointer">
                                        <i class="fa-solid fa-circle-info"></i>
                                    </div>
                                    </div>
                                </div>
                            <% } %>

                                <!-- ===== -->
                            </div>
                        <%}else{%>
                            <h1 class="text-red-500 text-[24px]">Aucun etudiant a signe sa presence</h1>
                        <%}%>
                    </div>
                </div>
               
               
            </div>
        </div>
        <!-- <%- include('footer')-%> -->
         <script>
            const addStudent=async()=>{

            }
            // component event 
            const addStudentForm=document.querySelector('#addStudentForm')
            addStudentForm.addEventListener('submit',async function(e){
                e.preventDefault()
                const successTeacher=document.querySelector('#successTeacher')
                const successTeacherCont=document.querySelector('#successTeacherCont')
                const formD= new FormData(this)
                const objForm= Object.fromEntries(formD.entries())
                const fetchD = await fetch('/add-student', {
                    method: 'POST',
                    body: JSON.stringify(objForm),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                });
                const data=await fetchD.json()
                console.log(data)
                if(data.success){
                    successTeacher.classList.remove('hidden')
                    successTeacherCont.innerHTML=`
                        <h1 class="text-xl mb-4">Enregistrement reussi</h1>
                        <p class="text-[12px] text-slate-700/50">Eleve ajouter avec success</p>
                        <button class="bg-red-500/70 px-3 hover:bg-red-500 text-slate-50 rouded-md p-1 rounded-full cursor-pointer" id="closeSuccess" onclick="removeSuccess()">Fermer</button>
                    `
                }else{
                    successTeacher.classList.remove('hidden')
                    successTeacherCont.innerHTML=`
                        <h1 class="text-xl mb-4">Erreur d'enregistrement</h1>
                        <p class="text-[12px] text-red-700/50">${data.message}</p>
                        <button class="bg-red-500/70 px-3 hover:bg-red-500 text-slate-50 rouded-md p-1 rounded-full cursor-pointer" id="closeSuccess" onclick="removeSuccess()">Fermer</button>
                    `
                }
            })
            const removeSuccess=()=>{
                const closeSuccess=document.querySelector('#successTeacher')
                const addSignleStudent=document.querySelector('#addSignleStudent')
                closeSuccess.classList.add('hidden')
                addSignleStudent.classList.add('hidden')
            }
         </script>
    </body>
</html>